.Button {
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  padding: 1em 2em;
  border: none;
  transition: all 150ms ease;
  user-select: none;
  box-shadow: 1px 1px 0px #72a276, 2px 2px 0px #72a276;
}

.btn-primary {
  color: white;
  background-color: #86cd82;
}

.btn-primary:hover {
  background-color: #a0e99d;
  box-shadow: 1px 1px 0px #72a276, 2px 2px 0px #72a276, 0px 0px 10px #a0e99d8e;
}

.btn-primary:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary:active,
.btn-primary.disabled {
  background-color: #72a276;
  border: none;
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 0px #72a276;
}

.Button.disabled {
  cursor: not-allowed;
}

.Button.small {
  padding: 0.5em 1em;
}
