* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
#root {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #666b6a;
}

h1,
h2,
h3 {
  color: white;
}

button,
input,
input#file-upload-button {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #86cd82;
}

.absoluteFill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
